.el-input{
  width: auto;
}
.el-message-box__input .el-input {
  width: 100%;
}
body .el-table th.gutter{
  display: table-cell!important;
}
.el-cascader .el-input {
  width: 100%
}
.el-cascader__dropdown {
  z-index: 20000 !important;
}
div.jsoneditor-tree {
  overflow: hidden;
}
.el-input__inner[type=number]{
  width: 100%;
}
.v-application ol, .v-application ul{
  padding-left: 0px !important;
}
.v-application .el-menu{
  padding-left: 0px !important;
}
html{
  overflow-y: auto;
}
